body {
  font-family: roboto;
}

.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
  gap: 2px;
  padding: 2px;
  background-color: yellow;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid grey;
  background: yellow;
}

button {
  cursor: pointer;
  font-size: 4em;
}

#game-start-dialog[open] {
  display: grid;
  gap: 10px;

  button {
    font-size: 2em;
    border: 1px solid #a4ffa4;
    background-color: #209920;
    color: #ffffff;
  }

  p {
    font-size: 1.5em;
  }
}

input {
  appearance: none;
  font-size: 1em;
  padding: 5px;
  border: 1px solid #bebebe;
}
